{% extends 'main.html' %}

{% block prop%}

<div class="container-fluid position-relative">
<h3>Testing project - {{project.name}}</h3>

<div class="row col_info mb-sm-3 d-flex mx-3">
    {%if request.user.is_superuser %}

    <a href="{% url 'upload_data' project.id %}" class="ms-1 me-5 navselect" >Add source data</a>

    {% endif %}

    {% if filter_active or data %}

    <nav style="border-radius: 10px;"  class = "nav  p-3 pb-3 ms-0 col_info">
    <form method="GET" action="{% url 'project' pk %}" class="mb-0">
        <label  class = "ms-5 navlabel" for="">Name:</label>
        <select class="ms-1 me-5 navselect " name="product" id="">
            <option value="">Show All</option>
            {% for name in names %}
            {% if last_name != '' and name.name == last_name %}
            <option value="{{ name.name }}" selected="selected">{{ name.name }}</option>
            {% else %}
            <option value="{{ name.name }}">{{ name.name }}</option>
            {% endif %}
            
            {% endfor %}
        </select>
        
        <label  class = "ms-5 navlabel" for="">Sf Code:</label>
        <select class="ms-1 me-5 navselect" data-style="btn-primary" name="sfcode" id="">
            <option value="">Show All</option>
            
            {% for code in sfcodes %}
            {% if last_sf_code != '' and code.sf_code == last_sf_code %}
            <option value="{{ code.sf_code }}" selected="selected">{{ code.sf_code }}</option>
            {% else %}
            <option value="{{ code.sf_code }}">{{ code.sf_code }}</option>
            {% endif %}
            {% endfor %}
        </select>
        
        <label  class = "ms-5 navlabel" for="">Family:</label>
        <select class="ms-1 me-5 navselect " data-style="btn-primary" name="family" id="" >
            <option value="">Show All</option>
            {% for member in family %}
            {% if last_family != '' and member.family == last_family %}
            <option value="{{ member.family }}" selected="selected">{{ member.family}}</option>
            {% else %}
            <option value="{{ member.family }}">{{ member.family}}</option>
            {% endif %}
            {% endfor %}
        </select>

        <label  class = "ms-5 navlabel" for="">Result:</label>
        <select class="ms-1 me-5 navselect " data-style="btn-primary" name="status" id="">
            <option value="">Show All</option>
            {% for status in test_results %}
            {% if last_result != '' and status.result == last_result %}
            <option value="{{ status.result }}" selected="selected">{{ status.result}}</option>
            {% else %}
            <option value="{{ status.result }}">{{ status.result}}</option>
            {% endif %}
            {% endfor %}
        </select>
            
        <label  class = "ms-5 navlabel" for="">Fail Group:</label>
        <select class="ms-1 me-5 navselect " data-style="btn-primary" name="failgroup" id="">
            <option value="">Show All</option>
            {% for i in group_fail %}
            {% if last_fail != '' and i.fail_group_name == last_fail %}
            <option value="{{ i.fail_group_name }}" selected="selected">{{ i.fail_group_name }}</option>
            {% else %}
            <option value="{{ i.fail_group_name }}">{{ i.fail_group_name }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <input class="ms-5 btn btn-outline-dark p-auto float-md-end" type="submit" value="Filter">
        <a href="{% url 'project' pk %}">Reset</a>
    </form>    

    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Sf Code</th>
            <th>Family</th>
            <th>Result</th>
            <th>Fail Group Name</th>
            <th>Test Total Time</th>
            <th>Timestamp</th>
            <th>Number of Tests</th>
        </tr>
        {% for part in data%}
        <tr>
        <td>{{ part.name }}</td>
        <td>{{ part.sf_code }}</td>
        <td>{{ part.family }}</td>
        <td>{{ part.result }}</td>
        <td>{{ part.fail_group_name }}</td>
        <td>{{ part.test_total_time }}</td>
        <td>{{ part.timestamp }}</td>
        <td>{{ part.number_of_test }}</td>
        </tr>
        {% endfor %}
    </table>


    <table class="table">
        <tr>
            <th>Field</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>Sum Total Test Time</td>
            <td>{{test_total.test_total_time__sum}}</td>
        </tr>
        <tr>
            <td>Max Total Test Time</td>
            <td>{{max_time.test_total_time__max}}</td>
        </tr>
        <tr>
            <td>Number of Failed Tests</td>
            <td>{{count_failed}}</td>
        </tr>
        <tr>
            <td>Max Number of Tests</td>
            <td>{{max_tests.number_of_test__max}}</td>
        </tr>
    </table>

    {% else %}

    <h5>No data have been added to this project yet.</h5>

    {% endif %}
</div>
</div>
{% endblock prop %}