{% extends 'main.html' %}

{% block prop %}
<div class="container-fluid position-relative">
    <h3>Project information</h3>
    
    <div class="row col_info mb-sm-3 d-flex mx-3">
            <nav style="border-radius: 10px;"  class = "nav  p-3 pb-3 ms-0 col_info">
            <form method="POST" action="" class="mb-0">
                {% csrf_token %}

                {{form.as_p}}

                <input type="submit" value="Save"/>

            </form>
        </div>
</div>

{% endblock prop %}