{% extends 'main.html' %}

{% block prop %}
<div class="container-fluid position-relative">
    <h3>File upload</h3>
    <div class="row col_info mb-sm-3 d-flex mx-3">
        <nav style="border-radius: 10px;"  class = "nav  p-3 pb-3 ms-0 col_info">
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}

            {{form.as_p}}

            <!--<input type="button" id="submit_btn" class="btn border border-dark" value="browse"> -->
            <button class="btn btn-success  mb-3" type="submit">Upload</button>

        </form>
    </div>
</div>


{% endblock prop %}